div {
	/* background-color: #FDF0D5 */
}
body {
	background-color: #003049;
}

h1 {
	color: #fdf0d5;
}

h2 {
	color: #fdf0d5;
}

.inputStyles {
	background-color: #fdf0d5;
}
.textStyles {
	color: #003049;
}

.btn-circle.btn-xl {
	width: 75px;
	height: 75px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 30px;
	text-align: center;
}

.start-position {
	display: flex;
	justify-content: flex-start;
}
.center-position {
	display: flex;
	justify-content: center;
}
.end-position {
	display: flex;
	justify-content: flex-end;
}
.between-position {
	display: flex;
	justify-content: space-between;
}
.space-position {
	display: flex;
	justify-content: space-around;
}
